[flake8]

# E501: line too long
# B008: Do not perform function calls in argument defaults. Annoying for fastapi.
# E203: See https://github.com/PyCQA/pycodestyle/issues/373
extend-ignore = E203,E501, B008
exclude =
    project/python/opencloning_linkml.py
    src/opencloning_linkml/datamodel/_models.py
